Repository pers0n4/comsociety: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json, npx prettier --write

.lintstagedrc.json:

{
  "frontend/src/**/*.{js,jsx,ts,tsx}": [
    "npx prettier --write --config frontend/.prettierrc.json",
    "npx eslint --fix --config frontend/.eslintrc.json"
  ],
  "*.{html,json,md}": "npx prettier --write"
}

build(poetry): add flask cors
  backend/poetry.lock
  backend/pyproject.toml
Due: none

feat: allow cors for all domains
  backend/app/__init__.py
Due: none

build(pip): add flask-cors
  backend/requirements.txt
Due: none

build(docker): add xwiki (#14)
  docker-compose.yaml
  docker/postgres/docker-entrypoint-initdb.d/init.sql
Due: none

build(docker): fix postgres for xwiki
  docker/postgres/Dockerfile
Due: none

build(docker): fix for production
  docker-compose.yaml
Due: none

build(poetry): add nlp dependencies
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: none

build: add git submodule
  .gitmodules
Due: none

feat: add textrank
  backend/textrank.py
Due: none

fix(post): edit post dto, controller, service
  backend/app/__init__.py
  backend/app/post/__init__.py
  backend/app/post/controller.py
  backend/app/post/dto.py
  backend/app/post/model.py
  backend/app/post/repository.py
  backend/app/post/service.py
Due: none

fix: Edit post url_prefix
  backend/app/post/controller.py
Due: none

fix: Edit CreateUserSchema and UpdateUserSchema
  backend/app/post/dto.py
Due: none

fix(post): fix post (#16)
  backend/app/post/controller.py
  backend/app/post/dto.py
  backend/app/post/model.py
  backend/app/post/repository.py
  backend/app/post/service.py
Due: none

refactor(user): update user model (#15)
  backend/app/user/dto.py
  backend/app/user/model.py
Due: none

feat : 회원가입 기능 구현
  frontend/src/components/Signup.tsx
  frontend/src/utils/api.ts
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

build : 패키지 락 업데이트
  frontend/package-lock.json
Due: npx prettier --write

refactor: add main level check to textrank script
  backend/textrank.py
Due: none

feat: add textrank api endpoint
  backend/app/__init__.py
  backend/app/data/__init__.py
  backend/app/data/controller.py
Due: none

feat: add textrank sample page (#20)
  frontend/src/App.tsx
  frontend/src/components/Textrank/Textrank.tsx
  frontend/src/components/Textrank/data.ts
  frontend/src/components/Textrank/index.ts
  frontend/src/pages/home.tsx
  frontend/src/utils/api.ts
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

build(docker): add java package for konlpy
  backend/Dockerfile.development
Due: none

build(docker): add .dockerignore
  backend/.dockerignore
  frontend/.dockerignore
Due: none

build: update eslint rules
  frontend/.eslintrc.json
Due: npx prettier --write

build: update .env
  frontend/.env
  frontend/src/utils/api.ts
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat: add circular progress while await promise
  frontend/src/components/Textrank/Textrank.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

build(yarn): update dependencies
  frontend/package.json
  frontend/yarn.lock
Due: npx prettier --write

test
  frontend/.eslintrc.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Roadview.jsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json, npx prettier --write

chatbot
  frontend/src/App.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

fix: apply chatbot
  frontend/src/App.tsx
  frontend/src/components/Chatbot.jsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

build: add babel config
  frontend/.babelrc.json
  frontend/package.json
  frontend/yarn.lock
Due: npx prettier --write

build(yarn): add react-wordcloud
  frontend/package.json
  frontend/yarn.lock
Due: npx prettier --write

refactor: improve textrank response type
  frontend/src/components/Textrank/Textrank.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat: add wordcloud component
  frontend/src/components/Textrank/Textrank.tsx
  frontend/src/components/WordCloud.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

build: fix yarn.lock
  frontend/yarn.lock
Due: none

fix: add key to mapped child
  frontend/src/components/Textrank/Textrank.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

build: update eslint import/order rule
  frontend/.eslintrc.json
Due: npx prettier --write
