Repository pers0n4/comsociety: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config frontend/.prettierrc.json, eslint --fix --config frontend/.eslintrc.json, prettier --write

.lintstagedrc.json:

{
  "frontend/src/**/*.{js,jsx,ts,tsx}": [
    "prettier --write --config frontend/.prettierrc.json",
    "eslint --fix --config frontend/.eslintrc.json"
  ],
  "*.{html,json,md}": "prettier --write"
}

style: format with prettier
  backend/README.md
Due: prettier --write

build: add requirements.txt for git hooks
  requirements.txt
Due: none

docs: update repository readme
  README.md
Due: prettier --write

perf: remove husky files
  frontend/.husky/.gitignore
  frontend/.husky/pre-commit
Due: none

refactor(user): rename property to identification_number
  backend/app/user/dto.py
  backend/app/user/model.py
Due: none

fix(user): hide password property in response data
  backend/app/user/dto.py
Due: none

build: update config
  backend/app/__init__.py
  backend/config.example.py
  backend/tests/conftest.py
Due: none

test(user): update user tests
  backend/tests/conftest.py
  backend/tests/test_user.py
Due: none

build(poetry): add test dependencies
  backend/poetry.lock
  backend/pyproject.toml
  requirements.txt
Due: none

build(poetry): add flake8
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
  backend/tox.ini
  requirements.txt
Due: none

docs: update readme
  backend/README.md
Due: prettier --write

build(docker): add docker-compose
  .env
  docker-compose.yml
  docker/postgres/Dockerfile
  docker/postgres/docker-entrypoint-initdb.d/init.sql
  docker/postgres/servers.json
Due: prettier --write

build(poetry): add alembic
  backend/poetry.lock
  backend/pyproject.toml
Due: none

feat: init alembic
  backend/alembic.ini
  backend/migrations/README
  backend/migrations/env.py
  backend/migrations/script.py.mako
Due: none

build(poetry): update dependencies
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: none

feat(user): add password encryption by bcrypt (#8)
  backend/app/user/model.py
Due: none

build(poetry): add jwt
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: none

build(poetry): add gunicorn
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: none

build(docker): add docker files
  backend/Dockerfile
  docker-compose.yaml
  frontend/Dockerfile
Due: none

build(docker): add backend development dockerfile
  backend/Dockerfile.development
  docker-compose.yaml
Due: none

build(docker): update backend cmd
  backend/Dockerfile
  backend/Dockerfile.development
Due: none

build: update env
  .env
  backend/alembic.ini
  backend/config.example.py
Due: none

build(poetry): replace dependency jwt to pyjwt
  backend/poetry.lock
  backend/pyproject.toml
  backend/requirements.txt
Due: none

fix: fix flake8 config
  backend/setup.cfg
Due: none

refactor: refactor init db command
  backend/app/__init__.py
  backend/database.py
Due: none

feat: update application config
  .gitignore
  backend/app/__init__.py
  backend/config.py
Due: none

build(docker): update cmd script
  backend/Dockerfile
  backend/Dockerfile.development
Due: none

docs: update README
  backend/README.md
Due: prettier --write

refactor: using uuid by sqlalchemy custom type
  backend/app/__init__.py
  backend/app/user/model.py
  backend/database/__init__.py
  backend/database/sqlalchemy.py
  backend/database/uuid.py
Due: none

fix(user): fix password setter and check method
  backend/app/user/model.py
Due: none

build(docker): update alpine package
  backend/Dockerfile
Due: none

feat(auth): add auth (#5)
  backend/app/__init__.py
  backend/app/auth/__init__.py
  backend/app/auth/controller.py
  backend/app/auth/dto.py
  backend/app/auth/service.py
Due: none

feat : 유저 인증 관련 페이지 구현
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/Signup.tsx
  frontend/src/package-lock.json
Due: prettier --write --config frontend/.prettierrc.json, eslint --fix --config frontend/.eslintrc.json, prettier --write

build(yarn): update dependencies
  frontend/package.json
  frontend/yarn.lock
Due: prettier --write

build(yarn): add react-router dependency
  frontend/package.json
  frontend/yarn.lock
Due: prettier --write

build: update lint-staged script
  .lintstagedrc.json
Due: prettier --write

feat: add router (#10)
  frontend/src/App.tsx
  frontend/src/components/layouts/Header.tsx
Due: prettier --write --config frontend/.prettierrc.json, eslint --fix --config frontend/.eslintrc.json

build(yarn): add axios
  frontend/package.json
  frontend/yarn.lock
Due: prettier --write

feat(api): add axis base instance
  frontend/src/utils/api.ts
Due: prettier --write --config frontend/.prettierrc.json, eslint --fix --config frontend/.eslintrc.json
