Repository pers0n4/comsociety: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json, npx prettier --write

build(yarn): add dependencies
  frontend/package.json
  frontend/yarn.lock
Due: npx prettier --write

feat(board): add board page
  frontend/src/App.tsx
  frontend/src/pages/board.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat: add article page
  frontend/src/App.tsx
  frontend/src/pages/article/Read.tsx
  frontend/src/pages/article/Write.tsx
  frontend/src/pages/article/index.ts
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

test : chat bot update
  frontend/src/components/Chatbot.jsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat : map
  frontend/public/index.html
  frontend/public/test.js
  frontend/src/components/Directions.jsx
  frontend/src/components/map.css
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json, npx prettier --write

build: fix yarn.lock
  frontend/yarn.lock
Due: none

fix: add key to mapped child
  frontend/src/components/Textrank/Textrank.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

build: update eslint import/order rule
  frontend/.eslintrc.json
Due: npx prettier --write

fix: fix app
  frontend/src/App.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat(post): return articles order by created_at
  backend/app/post/repository.py
Due: none

feat(board): update board style
  frontend/src/pages/board.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

fix: add missing files
  frontend/src/components/ChangePassword.tsx
  frontend/src/components/MyPage.tsx
  frontend/src/components/NoticeBoard.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

fix: fix routes
  frontend/src/App.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

fix: add missing component
  frontend/src/App.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat(auth): add Auth context
  frontend/src/context/Auth/Context.tsx
  frontend/src/context/Auth/index.ts
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat: add authenticate
  backend/app/auth/dto.py
  backend/app/auth/service.py
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/context/Auth/Context.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

build(yarn): add jwt dependencies
  frontend/package.json
  frontend/yarn.lock
Due: npx prettier --write

feat: update authentication
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/pages/article/Write.tsx
  frontend/src/pages/board.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat: replace header link by react router
  frontend/src/components/layouts/Header.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

fix: fix kakao map
  frontend/public/index.html
  frontend/public/kakao.js
  frontend/public/test.js
  frontend/src/components/Directions.jsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json, npx prettier --write

feat: update home design
  frontend/src/App.tsx
  frontend/src/pages/home.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat: add home alert
  frontend/src/pages/home.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

fix: remove buttons
  frontend/src/components/Login.tsx
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

feat: add sample data
  frontend/src/components/Textrank/Textrank.tsx
  frontend/src/components/Textrank/data.ts
Due: npx prettier --write --config frontend/.prettierrc.json, npx eslint --fix --config frontend/.eslintrc.json

Path conditions:
  npx prettier --write --config frontend/.prettierrc.json: any of: frontend/src/**/*.{js,jsx,ts,tsx}
  npx eslint --fix --config frontend/.eslintrc.json: any of: frontend/src/**/*.{js,jsx,ts,tsx}
  npx prettier --write: any of: *.{html,json,md}
